n8n/dental_current.json
{"updatedAt":"2026-03-27T08:49:56.663Z","createdAt":"2026-03-27T08:49:56.663Z","id":"z9clUhAdIUzrEuCS","name":"VAPI Dental Clinic Appointment Booking","description":null,"active":false,"isArchived":false,"nodes":[{"id":"node-sticky","name":"Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-400],"parameters":{"content":"## 🦷 VAPI Dental Clinic Booking\nVAPI voice AI calls this webhook after collecting patient info.\n\n**Webhook URL:** /webhook/dental-book\n\n**Collects:** Name, Email, Phone, Appointment Type, Date, Time\n\n**Routes to:**\n- Aesthetic Surgery tab\n- Dental Surgery tab\n- Dental Checkup tab (default)\n\n**Also:** Creates Google Calendar event + sends confirmation email to patient.","height":220,"width":520,"color":4}},{"id":"node-webhook","name":"Book Appointment","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"dental-book-appt-001","parameters":{"httpMethod":"POST","path":"dental-book","responseMode":"responseNode","options":{}}},{"id":"node-extract","name":"Extract Booking Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst message = body.message || {};\nconst toolCallList = message.toolCallList || message.tool_call_list || [];\nconst toolCall = toolCallList[0] || {};\nconst funcArgs = toolCall.function ? toolCall.function.arguments : null;\nlet args = {};\nif (funcArgs) {\n  try { args = JSON.parse(funcArgs); } catch(e) { args = funcArgs; }\n}\n\n// Fallback: data sent directly (not wrapped in VAPI message)\nif (!args.patient_name && body.patient_name) {\n  args = body;\n}\n\nconst apptType = (args.appointment_type || args.appointmentType || '').toLowerCase().trim();\n\nreturn [{\n  json: {\n    tool_call_id: toolCall.id || '',\n    patient_name: args.patient_name || args.patientName || '',\n    email: args.email || '',\n    phone: args.phone || args.phoneNumber || '',\n    appointment_type: apptType,\n    preferred_date: args.preferred_date || args.preferredDate || '',\n    preferred_time: args.preferred_time || args.preferredTime || '',\n    call_id: (message.call && message.call.id) ? message.call.id : (body.call_id || '')\n  }\n}];\n"}},{"id":"node-calendar","name":"Create Calendar Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[480,0],"parameters":{"operation":"create","calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"primary"},"start":"={{ $json.preferred_date }}T{{ $json.preferred_time }}:00","end":"={{ $json.preferred_date }}T{{ (parseInt($json.preferred_time.split(':')[0]) + 1).toString().padStart(2, '0') }}:{{ $json.preferred_time.split(':')[1] }}:00","additionalFields":{"summary":"={{ $json.appointment_type.charAt(0).toUpperCase() + $json.appointment_type.slice(1) }} — {{ $json.patient_name }}","description":"=Patient: {{ $json.patient_name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone }}\nAppointment: {{ $json.appointment_type }}\nDate: {{ $json.preferred_date }}\nTime: {{ $json.preferred_time }}"}}},{"id":"node-build-response","name":"Build VAPI Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,0],"parameters":{"assignments":{"assignments":[{"id":"r1","name":"vapi_response","value":"={{ JSON.stringify({ results: [{ toolCallId: $('Extract Booking Data').first().json.tool_call_id, result: 'Appointment confirmed! Your ' + $('Extract Booking Data').first().json.appointment_type + ' is booked for ' + $('Extract Booking Data').first().json.preferred_date + ' at ' + $('Extract Booking Data').first().json.preferred_time + '. A confirmation email will be sent to ' + $('Extract Booking Data').first().json.email + '.' }] }) }}","type":"string"}]},"options":{}}},{"id":"node-respond","name":"Respond to VAPI","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,0],"parameters":{"respondWith":"text","responseBody":"={{ $json.vapi_response }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"node-switch","name":"Route by Appointment Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1200,0],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"s1","leftValue":"={{ $('Extract Booking Data').first().json.appointment_type }}","rightValue":"aesthetic","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Aesthetic Surgery"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"s2","leftValue":"={{ $('Extract Booking Data').first().json.appointment_type }}","rightValue":"dental surgery","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Dental Surgery"}]},"options":{"fallbackOutput":"extra"}}},{"id":"node-sheets-aesthetic","name":"Save Aesthetic Surgery","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1440,-200],"credentials":{"googleSheetsOAuth2Api":{"id":"yckosmzREOuRBfaJ","name":"Google Sheets account 2"}},"parameters":{"operation":"append","documentId":{"__rl":true,"value":"REPLACE_WITH_SHEET_URL","mode":"url"},"sheetName":{"__rl":true,"value":"Aesthetic Surgery","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Patient Name":"={{ $('Extract Booking Data').first().json.patient_name }}","Email":"={{ $('Extract Booking Data').first().json.email }}","Phone":"={{ $('Extract Booking Data').first().json.phone }}","Appointment Type":"={{ $('Extract Booking Data').first().json.appointment_type }}","Preferred Date":"={{ $('Extract Booking Data').first().json.preferred_date }}","Preferred Time":"={{ $('Extract Booking Data').first().json.preferred_time }}","Calendar Event ID":"={{ $('Create Calendar Event').first().json.id }}","Booked At":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"Patient Name","displayName":"Patient Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Appointment Type","displayName":"Appointment Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Preferred Date","displayName":"Preferred Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Preferred Time","displayName":"Preferred Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Calendar Event ID","displayName":"Calendar Event ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Booked At","displayName":"Booked At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}}},{"id":"node-sheets-dental-surg","name":"Save Dental Surgery","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1440,0],"credentials":{"googleSheetsOAuth2Api":{"id":"yckosmzREOuRBfaJ","name":"Google Sheets account 2"}},"parameters":{"operation":"append","documentId":{"__rl":true,"value":"REPLACE_WITH_SHEET_URL","mode":"url"},"sheetName":{"__rl":true,"value":"Dental Surgery","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Patient Name":"={{ $('Extract Booking Data').first().json.patient_name }}","Email":"={{ $('Extract Booking Data').first().json.email }}","Phone":"={{ $('Extract Booking Data').first().json.phone }}","Appointment Type":"={{ $('Extract Booking Data').first().json.appointment_type }}","Preferred Date":"={{ $('Extract Booking Data').first().json.preferred_date }}","Preferred Time":"={{ $('Extract Booking Data').first().json.preferred_time }}","Calendar Event ID":"={{ $('Create Calendar Event').first().json.id }}","Booked At":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"Patient Name","displayName":"Patient Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Appointment Type","displayName":"Appointment Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Preferred Date","displayName":"Preferred Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Preferred Time","displayName":"Preferred Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Calendar Event ID","displayName":"Calendar Event ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Booked At","displayName":"Booked At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}}},{"id":"node-sheets-checkup","name":"Save Dental Checkup","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1440,200],"credentials":{"googleSheetsOAuth2Api":{"id":"yckosmzREOuRBfaJ","name":"Google Sheets account 2"}},"parameters":{"operation":"append","documentId":{"__rl":true,"value":"REPLACE_WITH_SHEET_URL","mode":"url"},"sheetName":{"__rl":true,"value":"Dental Checkup","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Patient Name":"={{ $('Extract Booking Data').first().json.patient_name }}","Email":"={{ $('Extract Booking Data').first().json.email }}","Phone":"={{ $('Extract Booking Data').first().json.phone }}","Appointment Type":"={{ $('Extract Booking Data').first().json.appointment_type }}","Preferred Date":"={{ $('Extract Booking Data').first().json.preferred_date }}","Preferred Time":"={{ $('Extract Booking Data').first().json.preferred_time }}","Calendar Event ID":"={{ $('Create Calendar Event').first().json.id }}","Booked At":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"Patient Name","displayName":"Patient Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Appointment Type","displayName":"Appointment Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Preferred Date","displayName":"Preferred Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Preferred Time","displayName":"Preferred Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Calendar Event ID","displayName":"Calendar Event ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Booked At","displayName":"Booked At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}}},{"id":"node-merge","name":"Merge Branches","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1680,0],"parameters":{"mode":"append"}},{"id":"node-email","name":"Send Confirmation Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1920,0],"credentials":{"gmailOAuth2":{"id":"wKj9godSk3wUw4lk","name":"Gmail account 2"}},"parameters":{"resource":"message","operation":"send","sendTo":"={{ $('Extract Booking Data').first().json.email }}","subject":"=Appointment Confirmed — {{ $('Extract Booking Data').first().json.appointment_type }}","message":"=<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto'><h2 style='color:#1a73e8;border-bottom:2px solid #1a73e8;padding-bottom:8px'>Appointment Confirmed</h2><p>Dear <strong>{{ $('Extract Booking Data').first().json.patient_name }}</strong>,</p><p>Your appointment has been successfully booked. Here are your details:</p><table style='border-collapse:collapse;width:100%;margin:16px 0'><tr style='background:#f8f9fa'><td style='padding:10px;border:1px solid #ddd;font-weight:bold;width:40%'>Appointment Type</td><td style='padding:10px;border:1px solid #ddd'>{{ $('Extract Booking Data').first().json.appointment_type }}</td></tr><tr><td style='padding:10px;border:1px solid #ddd;font-weight:bold'>Date</td><td style='padding:10px;border:1px solid #ddd'>{{ $('Extract Booking Data').first().json.preferred_date }}</td></tr><tr style='background:#f8f9fa'><td style='padding:10px;border:1px solid #ddd;font-weight:bold'>Time</td><td style='padding:10px;border:1px solid #ddd'>{{ $('Extract Booking Data').first().json.preferred_time }}</td></tr><tr><td style='padding:10px;border:1px solid #ddd;font-weight:bold'>Phone</td><td style='padding:10px;border:1px solid #ddd'>{{ $('Extract Booking Data').first().json.phone }}</td></tr></table><p style='color:#555'>If you need to reschedule or cancel, please call us directly.</p><p style='color:#555'>Thank you for choosing our clinic!</p><hr style='border:none;border-top:1px solid #eee;margin:24px 0'><p style='color:#999;font-size:12px'>This is an automated confirmation. Please do not reply to this email.</p></div>","options":{}}}],"connections":{"Book Appointment":{"main":[[{"node":"Extract Booking Data","type":"main","index":0}]]},"Extract Booking Data":{"main":[[{"node":"Create Calendar Event","type":"main","index":0}]]},"Create Calendar Event":{"main":[[{"node":"Build VAPI Response","type":"main","index":0}]]},"Build VAPI Response":{"main":[[{"node":"Respond to VAPI","type":"main","index":0}]]},"Respond to VAPI":{"main":[[{"node":"Route by Appointment Type","type":"main","index":0}]]},"Route by Appointment Type":{"main":[[{"node":"Save Aesthetic Surgery","type":"main","index":0}],[{"node":"Save Dental Surgery","type":"main","index":0}],[{"node":"Save Dental Checkup","type":"main","index":0}]]},"Save Aesthetic Surgery":{"main":[[{"node":"Merge Branches","type":"main","index":0}]]},"Save Dental Surgery":{"main":[[{"node":"Merge Branches","type":"main","index":1}]]},"Save Dental Checkup":{"main":[[{"node":"Merge Branches","type":"main","index":2}]]},"Merge Branches":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1d62af55-913b-46c3-9ca6-386ffa01e8d2","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-27T08:49:56.665Z","createdAt":"2026-03-27T08:49:56.665Z","role":"workflow:owner","workflowId":"z9clUhAdIUzrEuCS","projectId":"2tQuahSREuFsOETD","project":{"updatedAt":"2026-03-20T10:54:06.068Z","createdAt":"2026-03-20T10:52:17.176Z","id":"2tQuahSREuFsOETD","name":"Leverage PH <automation1.va@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f0265ade-8b38-4d52-ac8b-795023295486"}}],"tags":[],"activeVersion":null}