n8n/workflow-1-checkout-session.json
{
  "name": "Reset Challenge — Checkout Session Creator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reset-challenge-checkout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567891",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "reset-challenge-checkout"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_STRIPE_SECRET_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "line_items[0][price_data][currency]", "value": "usd" },
            { "name": "line_items[0][price_data][product_data][name]", "value": "Reset Challenge — 30 Days" },
            { "name": "line_items[0][price_data][unit_amount]", "value": "3000" },
            { "name": "line_items[0][quantity]", "value": "1" },
            { "name": "mode", "value": "payment" },
            { "name": "customer_email", "value": "={{ $json.body.email }}" },
            { "name": "metadata[name]", "value": "={{ $json.body.name }}" },
            { "name": "metadata[email]", "value": "={{ $json.body.email }}" },
            { "name": "success_url", "value": "YOUR_HOSTED_URL/reset-challenge-success.html" },
            { "name": "cancel_url", "value": "YOUR_HOSTED_URL/reset-challenge-checkout.html" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678902",
      "name": "Create Stripe Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { url: $json.url } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789013",
      "name": "Return Checkout URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Create Stripe Session", "type": "main", "index": 0 }]
      ]
    },
    "Create Stripe Session": {
      "main": [
        [{ "node": "Return Checkout URL", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
